<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>区间收益率</string>
		<key>message</key>
		<string>区间收益/区间内的平均绑定资金。（例：11月1日-12月1日，账户获利1万元，账户平均绑定资金10万元，则区间收益率=1/10=10%）</string>
		<key>imageName</key>
		<string>1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>区间成功率</string>
		<key>message</key>
		<string>区间获利的交易次数/区间总交易次数。（例：11月1日-12月1日，总共交易20次，其中获利15次，则区间成功率=15/20=75%）</string>
		<key>imageName</key>
		<string>2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>平均收益率</string>
		<key>message</key>
		<string>区间收益率/区间交易次数。（例：11月1日-12月1日，账户收益率10%，交易20次，则平均收益率=10%/20=0.5%）</string>
		<key>imageName</key>
		<string>3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>交易次数</string>
		<key>message</key>
		<string>区间内买入股票的次数。</string>
		<key>imageName</key>
		<string>4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>收益波动率</string>
		<key>message</key>
		<string>计算区间某一天最高点和最低点之间收益率的差值（例：某一天的最高为10%，最低为3%，则波动率为7%）</string>
		<key>imageName</key>
		<string>1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>跑赢股民</string>
		<key>message</key>
		<string>跑赢股民就是收益率在股民中的排名</string>
		<key>imageName</key>
		<string>2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>持股周期</string>
		<key>message</key>
		<string>策略买入日期-策略卖出日期。（例：持股周期两天，11月1日买入，则11月2日卖出）</string>
		<key>imageName</key>
		<string>3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>策略状态</string>
		<key>message</key>
		<string>系统根据算法判断策略当前的风险程度，当风险过大时，显示空仓观察。适合当前行情时，显示大胆使用。</string>
		<key>imageName</key>
		<string>2</string>
	</dict>
</array>
</plist>
